:root{
  --playbg:hsl(195, 74%, 62%);
  --mainbg:hsl(226, 43%, 10%);
  --cardsbg:hsl(235, 46%, 20%);
  --cardselectedbg:hsl(235, 45%, 61%);
  --profilebg:hsl(246, 80%, 60%);
} 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mainbg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
